<h1><%= @user.name%>'s Home Page</h1><br><br>

<h3>Email: <%= @user.email %></h3> 




 <h2>You currently have <%=Destination.count%> Destinations!</h2><br><br><br>

<a href="/destinations/"> View Your Destinations Here!</a><br><br><br><br>

<a href="/destinations/new"> Create a New Destination!</a><br><br><br><br><br>





<a href="/logout">Log out</a> <br>