<h2> Welcome <%= @user.username%> Here are all of your current destinations!  </h2>


<% @destinations.each do |destination| %>
      <a href= "/destinations/<%=destination.id %>" ><%= destination.city %></a>

      <% end %>

<br><br><br><br><br><br>




<a href="/destinations/new"> Create a New Destination!</a><br><br><br><br><br>

<img src=https://demolay.org/wp-content/uploads/2018/12/Vacation.jpg> <br><br>


<a href="/logout">Log out</a> 