All Destinations! 


<% @destinations.each do |destination| %>
<h2> <a href="/destinations/<%=destination.id %></a></h2>
<p><%= destination.city %><p>
<p><%= destination.state %></p>
<p><%= destination.distance %></a>
<% end %>






