<h2> Here are all of your current destinations!  </h2>


<% @destinations.each do |destination| %>
<ol>Destination id: <%=destination.id %> </ol> 
<h4>Destination City: <%= destination.city %> </h4>
<h4>Destination State: <%= destination.state %> </h4>
<h4>Approximate Travel Time: <%= destination.distance %> Hours</h4><br><br>
      <% end %>

<br><br><br><br><br><br><br><br><br>








<a href="/logout">Log out</a> 