<h2>Add a New Destination</h2>
<form action="/destinations" method="POST">
 <input type="text" name="City" placeholder="City"><br>
 <input type="text" name="State" placeholder="State"> <br>
 <input type="text" name="Distance" placeholder="Approximate Distance"> <br>
 <input type="text" name="Top_Attraction" placeholder="Top Attraction(s)"> <br>
  <input type="submit" value="submit">
</form>