<p><%= @destinations.all %>

<form method="post" action="/destinations/show">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Destination">
</form>

<a href="/destinations/<%=@destinations.ids%>/edit">Edit Destination </a>