<h1>Login to Vacation Wishlist!</h1>
<form method="post" action="/login">
  <label for = "email">Email:</label>
  <input type="text" name="email" placeholder="Email:">
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Password:"><br><br><br><br>
  <input type="submit" value= "Submit">
</form>



<img src= https://demolay.org/wp-content/uploads/2018/12/Vacation.jpg>