<h1>Login to Vacation Wishlist!</h1>
<form method="post" action="/login"><br>
  <input type="text" name="username" placeholder="Username"><br>
  <input type="text" name="password" placeholder="Password"><br><br><br><br>
  <input type="submit" value= "Submit">
</form>