<h1> Please enter your username and password</h1>


<form action = "login" method = "POST" >
  <input type="text" name="username" placeholder="username"> <br>
  <input type="text" name="password" placeholder ="password"> <br> <br> <br> <br>
  <input type="submit" name="submit">
</form>
