<h2>Please sign up if you haven't already! :) </h2>


<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="submit" type="Submit">
</form>