<h1> Add A New Destination </h1>

<form action="/new" method="POST" >
  City:   <input type="text" name="city"> <br>
  State: <input type="text" name="state" > <br>
  Miles: <input type="number" name="miles" > <br> <br> <br>
  
  
  
  <input type="submit" value="Submit">
</form>