<h3>Please sign up if you haven't already!  </h3>
<form action="/users/signup" method="POST">
  <input type="text" name="firstname" placeholder="First Name:"> 
  <input type="text" name="lastname" placeholder="Last Name:"> <br>
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>